---
layout: default
title: Archive
---

<section class="intro">

	<div class="wrap">

		<h1>Archive of posts from {{ page.date | date: "%Y" }}</h1>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<ul class="posts">
		{% for post in site.posts %}
		{% assign postyear = post.date | date: "%Y" %}
		{% if postyear == page.year %}
		  <li>
			<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
			<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
		  </li>
		{% endif %}
		{% endfor %}
		</ul>

	</div>

</section>